h2 = t '.resend_instructions'

= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!

  .field
    = f.label :email 
    br
    = f.email_field :email, autofocus: true

  .actions
    = f.submit t ".resend_instructions"


= render "devise/shared/links"
