.container
  = form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-signin") do |f|
    = devise_error_messages!

    h2 class="form-sigin-heading" Sign up

    .form-group
      = f.label :email, class: "sr-only"
      = f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true

    .form-group
      = f.label :password, class: "sr-only"
       - if @validatable
        = f.password_field :password, class: "form-control", placeholder: "Password (#{@minimum_password_length} characters minimum)",autocomplete: "off"

    .form-group
      = f.label :password_confirmation, class: "sr-only"
      = f.password_field :password_confirmation, class: "form-control", placeholder: "Password", autocomplete: "off"

    .actions
      = f.submit "Sign up", class: "btn btn-lg btn-primary btn-block"

    = render "devise/shared/links"