- if controller_name != 'sessions'
  = link_to 'Entrar', new_session_path(resource_name) 
  br

- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to 'Cadastrar-se', new_registration_path(resource_name) 
  br

- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to 'Esqueci minha senha', new_password_path(resource_name) 
  br

- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "Não recebi instruções de confirmação", new_confirmation_path(resource_name) 
  br

- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to "Não recebi instruções de destravamento", new_unlock_path(resource_name) 
  br

- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to "Entrar como #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) 
    br
