- if @pacient.errors.any?
  h4 class="error" Há erros no formulário:

= simple_form_for pacient, html: { class: "form-horizontal" } do |f|
  = f.input :name, input_html: { class: "form-control", placeholder: "Nome completo" }, wrapper_html: { class: "form-group" }

  = f.input :birth, input_html: {class: "form-control", placeholder: "dd/mm/aaaa"}, wrapper_html: {class: "form-group"}

  = f.input :dependents, input_html: {class: "form-control", placeholder: "0"}, wrapper_html: {class: "form-group"}

  = f.input :cpf, input_html: {class: "form-control", placeholder: "xxx.xxx.xxx-xx"}, wrapper_html: {class: "form-group"}

  = f.input :picture, wrapper_html: {class: "form-group"}

  = f.submit "Cadastrar", class: "btn btn-default"