table class="table table-bordered" style="margin: 20px auto; max-width: 960;"
  tr
    th = t '.name'
    th = t '.dependents'
    th = t '.birth'
    th = t '.cpf'
    th = t '.owner'

  - @pacients.each do |pacient|
    tr
      - if pacient.user_id == current_user.id
        td = link_to(pacient.name, pacient_path(pacient.id))
      - else
        td = pacient.name
      td = pacient.dependents
      td = pacient.birth
      td = pacient.cpf
      - if user_signed_in?
        - if pacient.user_id == current_user.id
          td 
            = link_to("", edit_pacient_path(pacient.id), class: "glyphicon glyphicon-edit", "data-toggle" => "tooltip", title: "Editar")
            = link_to("", pacient_path(pacient.id), method: :delete, class: "glyphicon glyphicon-remove", "data-toggle" => "tooltip", title: "Apagar")
        - else
          td = pacient.user.email