
.container
  = form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-signin") do |f|
    h2 class="form-signin-heading" Log in
    

    = f.label :email, class: "sr-only"
    = f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control"
    
    = f.label :password, class: "sr-only"
    = f.password_field :password, placeholder: "Password", autocomplete: "off", class: "form-control"
    

    - if devise_mapping.rememberable?
      .checkbox
        label for="remember_me"
          = f.check_box :remember_me, value: "remember me", id: "remember_me" 
          | Remember me

    .actions
      = f.submit "Log in", class: "btn btn-lg btn-primary btn-block"

    = render "devise/shared/links"