.form-control:focus {
  border-color: black;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, .6);
}

.btn {
  background-color: black;
  color: white;
}

.btn:hover {
  background-color: #555555;
  color: white;
}

.notice{
  color: white;
  margin: 20px auto;
  border-radius: 5px;
  max-width: 300px;
  background-color: #42aa6E;
  padding: 15px;
}

.alert{
  color: white;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #F24C27;
  max-width: 300px;
  padding: 15px;
}

.content {
  max-width: 960px;
  margin: 20px auto;
}

.erro {
  color: #F24C27;
}