doctype html
html
  head
    title Cadastre
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

body
  nav class="navbar navbar-inverse navbar-fixed-top"
    .container-fluid
      .navbar-header
        =link_to(image_tag("cadastre.png", height: 50), root_path)
      

      #navbar.navbar-collapse.collapse
        ul class= "nav navbar-nav navbar-right"
          li = link_to("Inicio", root_path)
          li = link_to(current_user.email, root_path)
          li = link_to("Cadastrar paciente", new_pacient_path)
          li = link_to('Sair', destroy_user_session_path, :method=>'delete')

  - if flash[:notice]
    .notice
      = flash[:notice]
  

  - if flash[:alert]
    .alert
      = flash[:alert]

  .content
    == yield